<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  -->
  <system.webServer>
    <staticContent>
        <remove fileExtension=".otf" />
        <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
    </staticContent>
</system.webServer>
</configuration>
<!--ProjectGuid: 7AB38A74-B0F2-4E73-A7E3-F861A1EE613E-->